<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org">
<suite name="Selenium Suite">

    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="LoginTest" />
        </classes>
    </test>

</suite>